<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/stylesheets/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="main.css">

    <title>Five Star Hospice Home Health</title>
  </head>
  <body>
    <header>
      <a href="index.html" id="logo">
        <h1>Five Star Hospice & Home Health</h1>
        <h2>Your place to die.</h2>
      </a>
      <nav>
        <ul>
          <li><a href="index.html" class="selected">Main Landing Page</a></li>
          <li><a href="services.html">Services</a> </li>
          <li><a href="espanol.html">Espanol</a> </li>
          <li><a href="careers.html">Careers</a> </li>
          <li><a href="contact.html">Contact</a> </li>
        </ul>
      </nav>
    </header>
    <div id="slider">
      <a href="Doctor_big.jpg">
        <img alt="Doctor" src="/assets/Doctor_big.jpg"/>
        <p>Slider will go here eventually.</p>
      </a>
    </div>
    <div id="wrapper" >
      <section>
        <ul id="gallery">
          <li>
            <a href="Family.jpg">
              <img alt="Family" src="/assets/web_example1.jpg" />
              <!-- <%=image_tag("Family.jpg", alt: "Family")%> -->
              <p>A family affair.</p>
            </a>
          </li>
          <li>
            <a href="helping_from_bed.jpg">
              <img alt="Helping from Bed" src="/assets/helping_from_bed.jpg"/>
              <p>Always there.</p>
            </a>
          </li>
          <li>
            <a href="helping_up.jpg">
              <img alt="helping up" src="/assets/helping_up.jpg"/>
              <p>Friendly service.</p>
            </a>
          </li>
          <li>
            <a href="volunteer.jpg">
              <img alt="volunteer" src="/assets/volunteer.jpg"/>
              <p>Every step of the way.</p>
            </a>
          </li>
          <li>
            <a href="reading.jpg">
              <img alt="reading" src="/assets/reading.jpg"/>
              <p>Bringing joy and comfort.</p>
            </a>
          </li>
        </ul>
      </section>
      <footer>
        <p>&copy; 2014 Five Star Hospice & Home Health</p>
      </footer>
    </div>
  </body>
</html>
