/*=============================================
              General
=============================================*/
body {
  font-family: 'Open Sans', sans-serif;
}

#slider /*the main large picture on landing page*/
{
  max-width: 1024px;
  margin: 0 auto 0;
  padding: 0 5%;
  background: blue;
}

#slider img {
  max-width: 100%; /* Using percentages for image widths instead of pixel dusts makes the site fluid and responsive. */
}

#logo {
  margin: 50px 0 0 50px;
}

#topwrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background: pink;
}

#bottomwrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background: yellow;
}

a {
  text-decoration: none;
}

#gallery img {
  width: 252px;
  height:  219px;
  max-width: 100%; /*tells the images to fill the width of their parent container so when shrunk down, the images don't go outside the container */
}

#footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  background: green;
}

/*=============================================
			 Heading
=============================================*/
header {
    float: left; /*mainly for style of desktop layout*/
    margin: 0;
    width: 100%; /*cuz it's a floated element, it doesn't have an explicit width anymore. so we want to specify that it spans the entire page.*/
}

h1 {
  font-family: 'Average sans', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/*=============================================
			 Navigation
=============================================*/
nav {
  text-align: left;
  padding: 10px 0;
  margin: 0;
  box-shadow: 2px 4px 6px #555;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;  /*puts the items inline but allows them to still have some block attributes like width & height*/
}

nav a {
  font-weight: 800; /*can be normal or bold or a specific number. */
  padding: 15px 10px; /*extra padding will make these links easier to click on a mobile device*/
}
/*=============================================
       Footer
=============================================*/
footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  clear: both; /*clears both sides from anything flowing around it. otherwise it'll align itself up with other items on the page. */
  color: red;
}

.social-icon {
  width: 30px; /*20px is about half the size of these icons, making them more denser for hi-rez*/
  height: 30px;
  margin: 0 5px;
}


/*=============================================
       Page: Landing
=============================================*/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left; /*allows the item to lineup side by side cuz they float left and allow everything else to flow around them. */
  width: 45%; /*regardless of the size of the browser window, each image will only ever take up 45% of it's parent element */
  margin: 2.5%;
  background-color: red;
  color: green;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  text-align: center;
  /*font-size: 0.75em;*/
  color: yellow;
}

#threetopics {
  margin: 0;
  padding: 0;
  list-style: none;
}

#threetopics li {
  float: left; /*allows the item to lineup side by side cuz they float left and allow everything else to flow around them. */
  width: 40%; /*regardless of the size of the browser window, each image will only ever take up 45% of it's parent element */
  margin: 2%;
  background-color: red;
  color: green;
}

#threetopics li p {
  margin: 0;
  padding: 5%;
  text-align: center;
  /*font-size: 0.75em;*/
  color: black;
}


/*=============================================
			 Colors
=============================================*/
/*-------------- SITE BODY --------------*/
body {
  background-color: #fff;
  color: #999;
  padding-top: 45px;
}
/*------------- HEADER -----------*/
header {
  background: yellow;
  border-color: green;
  position: fixed;
  top: 0;
}
/* -----NAV BACKGROUND ON MOBILE DEVICES------*/
nav {
  background: black;
}
/*————————————— LOGO TEXT ————————————*/
h1, h2 {
  color: white;
}
/*————————————— LINKS ————————————*/
a {
  color: orange;
}
/*————————————— nav links ————————————*/
nav a, nav a:visited {
  color: lightgray;
}
/*————————————— selected nav link ————————————*/
nav a.selected, nav a:hover {
  color: blue;
}
