/*=============================================
              General
=============================================*/
body {
  font-family: 'Open Sans', sans-serif;
}

#slider /*the main large picture on landing page*/
{
  max-width: 1024px;
  margin: 25px auto 0;
  padding: 0 5%;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  width: 252px;
  height:  219px;
  max-width: 100%; /*tells the images to fill the width of their parent container so when shrunk down, the images don't go outside the container */
}


/*=============================================
			 Heading
=============================================*/
#logo{
    text-align: center;
    margin: 0;
}

h1 {
  font-family: 'Average sans', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/*=============================================
			 Navigation
=============================================*/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}



/*=============================================
       Footer
=============================================*/
footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  clear: both; /*clears both sides from anything flowing around it. otherwise it'll align itself up with other items on the page. */
  color: red;
}



/*=============================================
       Page: Landing
=============================================*/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left; /*allows the item to lineup side by side cuz they float left and allow everything else to flow around them. */
  width: 45%; /*regardless of the size of the browser window, each image will only ever take up 45% of it's parent element */
  margin: 2.5%;
  background-color: red;
  color: green;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  text-align: center;
  /*font-size: 0.75em;*/
  color: yellow;
}

/*=============================================
			 Colors
=============================================*/
/*-------------- SITE BODY --------------*/
body {
  background-color: #fff;
  color: #999;
}
/*------------- HEADER -----------*/
header {
  background: lightblue;
  border-color: green;
}
/* -----NAV BACKGROUND ON MOBILE DEVICES------*/
nav {
  background: black;
}
/*————————————— LOGO TEXT ————————————*/
h1, h2 {
  color: white;
}
/*————————————— LINKS ————————————*/
a {
  color: orange;
}
/*————————————— nav links ————————————*/
nav a, nav a:visited {
  color: lightgray;
}
/*————————————— selected nav link ————————————*/
nav a.selected, nav a:hover {
  color: blue;
}
